<!DOCTYPE html>
<html lang="es">
	<!DOCTYPE html>
	<html>
	
	<head>
		
		<%- include("../partials/head") %> 
	</head>
	
	 
	<body>
	
	
		<header class="main-header">
	
			<%- include("../partials/header") %> 
		   
		</header>
	

			<form action="/products/edit/<%= productEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="nombre" class="form-label">Nombre del producto:</label>
						<input type="text" id="nombre" name="nombre" placeholder="Título" value="<%= productEdit.nombre %>" class="form-input">
					</div>
					
					<div class="col-12 col-md-6">
						<label for="autor" class="form-label">Descuento:</label>
						<input type="text" id="autor" name="autor" placeholder="Ej: 15" value="<%= productEdit.autor %>" class="form-input">
					</div>

					<div class="col-12 col-md-6">
						<label for="precio" class="form-label">Precio del producto:</label>
						<input type="text" id="precio" name="precio" placeholder="Ej: 5678" value="<%= productEdit.precio %>" class="form-input">
					</div>
										

					<div class="col-12 col-md-6">
						<label for="descuento" class="form-label">Descuento:</label>
						<input type="text" id="descuento" name="descuento" placeholder="Ej: 15" value="<%= productEdit.descuento %>" class="form-input">
					</div>

					<div class="col-12 col-md-6">
						<label for="id" class="form-label">Descuento:</label>
						<input type="text" id="id" name="id" placeholder="Ej: 15" value="<%= productEdit.id %>" class="form-input">
					</div>

					
					<div class="col-12 col-md-6">
						<label for="categoria" class="form-label">Categoría:</label>
						<select name="categoria" id="categoria"  class="form-input">
							<option value="<%= productEdit.categoria %>"><%= productEdit.categoria %></option>
							<option value="lanzamientos">Nuevos Lanzamientos</option>
							<option value="seleccionados">Seleccionadoss</option>
							<option value="masVendidos">Mas Vendidos</option>
						</select>
					</div>
					<div class="col-12">
						<label for="descripcion" class="form-label">Descipción:</label>
						<textarea name="descripcion" id="descripcion" class="form-input"><%= productEdit.descripcion %></textarea>
					</div>

					<div>
						<label for="product-img"></label>
						<input type="file" name="product-img" id="product-img"  >
						
					</div>
					<br />
					<div>
						
					Imagen Actual : <%= productEdit.img%>
					<br />
					<img class="imagen" src="<%= productEdit.img %>" alt="Product Image" style="width:20%">
					</div>



					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<footer class="main-footer">

		<%- include("../partials/footer") %> 
	</footer>
</body>	
</html>