<!DOCTYPE html>
<html lang="es">
	<!DOCTYPE html>
	<html>
	
	<head>
		<script src="/js/productValidation.js" ></script>
		<%- include("../partials/head") %> 
	</head>
	
	 
	<body>
	
	
		<header class="main-header">
	
			<%- include("../partials/header") %> 
		   
		</header>
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Formulario de creación de productos</h2> <br>
				</div>
			</div>


			<br />
      
			<% if (typeof errors != "undefined" ) {%>
        <p style="color:red" > ERROR </p>
        <ul>
          <% for (let i =0; i < errors.length; i++) {%>
            <li>
              <%= errors[i].msg %>

            </li>

            <%}%>
            <br />
			<%}%>
		</ul>
		<ul id="ul2"></ul>
			<form id="form" action="/products/edit/<%= productEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="nombre" class="form-label">Nombre del producto:</label>
						<input type="text" id="nombre" name="nombre" placeholder="Título" value="<%= productEdit.nombre %>" class="form-input">
					</div>
					
					<div class="col-12 col-md-6">
						<label for="autor" class="form-label">Autor:</label>
						<input type="text" id="autor" name="autor" placeholder="Ej: 15" value="<%= productEdit.autor %>" class="form-input">
					</div>

					<div class="col-12 col-md-6">
						<label for="precio" class="form-label">Precio del producto:</label>
						<input type="text" id="precio" name="precio" placeholder="Ej: 5678" value="<%= productEdit.precio %>" class="form-input">
					</div>
										

					<div class="col-12 col-md-6">
						<label for="descuento" class="form-label">Descuento:</label>
						<input type="text" id="descuento" name="descuento" placeholder="Ej: 15" value="<%= productEdit.descuento %>" class="form-input">
					</div>

					<div class="col-12 col-md-6">
						<label for="id" class="form-label">Id:</label>
						<label class="form-input"> <%= productEdit.id %> </label>
					</div>

					<div class="col-12 col-md-6">
						<label for="codigo" class="form-label">Código:</label> <br>
						<input type="text" id="codigo" name="codigo" placeholder="Ej: 15" value="<%= productEdit.codigo %>" class="form-input">
					</div>

					
					<div class="col-12 col-md-6">
						<label for="categoria" class="form-label">Categoría:</label>
						<select name="categoria" id="categoria"  class="form-input">
							<option value="<%= productEdit.categoria %>"><%= productEdit.categoria %></option>
							<option value="lanzamientos">Nuevos Lanzamientos</option>
							<option value="seleccionados">Seleccionadoss</option>
							<option value="masVendidos">Mas Vendidos</option>
						</select>
					</div>
					<div class="col-12">
						<label for="descripcion" class="form-label">Descipción:</label> <br>
						<textarea name="descripcion" id="descripcion" class="form-input"><%= productEdit.descripcion %></textarea>
					</div>

					<div class="col-12">
						<label for="product-img"></label>
						<input type="file" name="product-img" id="product-img"  >
						
					</div>
					<br />
					<div>
						<div class="col-12">
							<label for="descripcion" class="form-label">Imagen Actual : <%= productEdit.img%>:
							</label> <br>
							
						</div>
					
						
					<br />
					<img class="imagen" src="<%= productEdit.img %>" alt="Product Image" style="width:20%">
					</div>



					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<footer class="main-footer">

		<%- include("../partials/footer") %> 
	</footer>
</body>	
</html>