
<!DOCTYPE html>
<html>

<head>
    
    <%- include("../partials/head") %> 
</head>

 



    <header class="main-header">

        <%- include("../partials/header") %> 
       
    </header>
    <body>
    <br />
    <h3>Detalle del Producto</h3>
    <div class="secctionGeneral_bloque">
    <br />
    
    <div class="secctionGeneral_div_bloque">
                    <img class="imagen" src="<%= catalogodetalle.img %>" alt="Product Image" >
                    
                    <br />
                    <br />
                
                <%= catalogodetalle.nombre %> 
                        <br />
                    <%= catalogodetalle.autor %> 
                    <%= catalogodetalle.precio %>
                    <br />
                    <a href="/products/carrito/<%=id%>">  <%= catalogodetalle.nombre %> Comprar <i class="fa-solid fa-cart-shopping"></i> </a>
                  
                    <br />
                    <br />
                    <form action="/products/eliminar/<%= catalogodetalle.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="action-button delete">ELIMINAR</button>
                    </form>
           
          
                </div>    
     
    
</div>

</body>

    <footer class="main-footer">

        <%- include("../partials/footer") %> 
    </footer>

   