<!DOCTYPE html>
<html>

<head>
    
    <%- include("./head") %> 
</head>

 



    <header class="main-header">

        <%- include("./header") %> 
       
    </header>


    <br />
    <h3>Lista</h3>
    
    
    <div >

        <% for(let i=0; i< resultado.length; i++) { %> 
            
            <br />
          
                
                    
        <ul><a href="detalle/<%=i %>">  Nombre:<%= resultado[i].nombre %>  - </a> </ul>
        <ul></ul>Autor: <%= resultado[i].autor %></ul>
        <ul></ul>Id: <%= resultado[i].id %>  </ul>  
        <ul></ul>Precio: <%= resultado[i].precio %>  </ul>  
        <ul></ul>Categoría: <%= resultado[i].categoria %>  </ul>  

        <br />
                    
                    
                <% } %>
    
            
          
        
     
    </div>

    <br /><br />

    <footer class="main-footer">

        <%- include("./footer") %> 
    </footer>

    </body>