<!DOCTYPE html>
<html>

<head>
    
    <%- include("./head") %> 
</head>

 
<body>


    <header class="main-header">

        <%- include("./header") %> 
       
    </header>

    <%- include("./catalogo1") %> 

    <% const catalogo =[{ 
        nombre: "Viajando en invierno!",
        autor:"Josep Lopez",
        precio:"U$S 65.50",
        img:"/images/id1.jpg",
        categoria:"lanzamientos"
        },
        {
        nombre: "La Felicidad es un Hábito",
        autor:"Hortencia Márquez",
        precio:"U$S 5.50",
        img:"/images/id2.jpg",
        categoria:"lanzamientos"
          },
        {
        nombre: "El Mundo Contra el más allá",
        autor:"Julián Palomino",
        precio:"U$S a5.50",
        img:"/images/id3.jpg",
        categoria:"masVendidos"
           },
      
           {
        nombre: "Arkitektura Moderna",
        autor:"Jaime Martinez",
        precio:"U$S 25.50",
        img:"/images/id4.jpg",
        categoria:"seleccionados"
             },
         {
          nombre: "Guiá de Arquitectura",
          autor:"Tomás Andrade",
          precio:"U$S 45.50",
          img:"/images/id5.jpg",
          categoria:"seleccionados"
                   },
                   {
          nombre: "El principito",
          autor:"Antoine de Saint-exupery",
         precio:"U$S 17",
          img:"/images/id6.jpg",
          categoria:"masVendidos"
                      },
                      {
             nombre: "Orgullo y prejuicio",
            autor:"Jane Austen",
            precio:"U$S 47",
            img:"/images/id7.jpg",
           categoria:"lanzamientos"
                                  },
      
      ] %> 


<h3>Seleccionados para vos</h3>

<div class="secctionGeneral_bloque">

    <% for(let i=0; i< catalogo.length; i++) { %> 
        
        <br />
        <div class="secctionGeneral_div_bloque">
            <% if (catalogo[i].categoria=="masVendidos") { %> 
                <img src=<%= catalogo[i].img %> ><br />
                <a href="detalle/<%=i%>">  <%= catalogo[i].nombre %></a>
                <p class="ps-text-grey">
                <%= catalogo[i].autor %> 
                <%= catalogo[i].precio %>
                <br />
                <a href="/carrito/<%=i%>">  <%= catalogo[i].nombre %> Comprar <i class="fa-solid fa-cart-shopping"></i> </a>

                    
                
            <% } %>

        </div>
        <% } %> 
    
 
</div>

<footer class="main-footer">

    <%- include("./footer") %> 
</footer>