<!DOCTYPE html>
<html>

<head>
    
    <%- include("./head") %> 
</head>

 
<body>


    <header class="main-header">

        <%- include("./header") %> 
       
    </header>

    

      <br />
<h3>Nuevos Lanzamientos</h3>

<div class="secctionGeneral_bloque">

    <% for(let i=0; i< resultadola.length; i++) { %> 
        
        <br />
      
            
            <div class="secctionGeneral_div_bloque">
                <article>
                <img class="imagen" src=<%= resultadola[i].img %> ><br />
                <a href="products/detalle/<%=resultadola[i].id%>">  <%= resultadola[i].nombre %></a>
                <p class="ps-text-grey">
                <%= resultadola[i].autor %> 
                <%= resultadola[i].precio %>
                <br />
                <a href="carrito/<%=resultadola[i].id%>">  <%= resultadola[i].nombre %> Comprar <i class="fa-solid fa-cart-shopping"></i> </a>
                </article>
            </div>
                
            <% } %>
    
 
</div>

<footer class="main-footer">

    <%- include("./footer") %> 
</footer>