<!DOCTYPE html>
<html>

<head>
    
    <%- include("./head") %> 
</head>

 



    <header class="main-header">

        <%- include("./header") %> 
       
    </header>


    <br /><br />
    <h3>Carrito de Compras</h3>
    <br /><br />
               
                    <img src=<%= catalogo[id].img %> >
                    
                    <p class="ps-text-grey">
                        <%= catalogo[id].nombre %> 
                        <br />
                    <%= catalogo[id].autor %> 
                    <%= catalogo[id].precio %>
                    <br />
                    <a href="/carrito/<%=id%>">  <%= catalogo[id].nombre %> Comprar <i class="fa-solid fa-cart-shopping"></i> </a>
               
    
           
          
        
     
    </div>

    <br /><br />

    <footer class="main-footer">

        <%- include("./footer") %> 
    </footer>

    </body>