<!DOCTYPE html>
<html>

<head>
    
    <%- include("./head") %> 
</head>

 



    <header class="main-header">

        <%- include("./header") %> 
       
    </header>


    <br />
    <h3>Resultados</h3>
    <br />
    Texto buscado: <%= textoBusqueda  %>
    
    <div >

        <% for(let i=0; i< resultado.length; i++) { %> 
            
            <br />
          
                
                    
                    <a href="#">  <%= resultado[i] %></a>
                    <br />
                    
                    
                <% } %>
    
            
          
        
     
    </div>

    <br /><br />

    <footer class="main-footer">

        <%- include("./footer") %> 
    </footer>

    </body>