<!DOCTYPE html>
<html>

<head>
    
    <%- include("./head") %> 
</head>

 
<body>


    <header class="main-header">

        <%- include("./header") %> 
       
    </header>

    

      <br />
<h3>Seleccionados para vos</h3>

<div class="secctionGeneral_bloque">

    <% for(let i=0; i< resultadose.length; i++) { %> 
        
        <br />
        
            
                <div class="secctionGeneral_div_bloque">
                <img class="imagen" src= <%= resultadose[i].img %> alt="Imagén de Producto" ><br />
              
                <a href="products/detalle/<%=ordense[i]%>">  <%= resultadose[i].nombre %></a>
                <p class="ps-text-grey">
                <%= resultadose[i].autor %> 
                <%= resultadose[i].precio %>
                

                <br />
                <a href="products/carrito/<%=ordense[i]%>">  <%= resultadose[i].nombre %> Comprar <i class="fa-solid fa-cart-shopping"></i> </a>
            </div>
           

        
        <% } %> 
    
 
</div>

</body>

<footer class="main-footer">

    <%- include("./footer") %> 
</footer>