<!DOCTYPE html>
<html>

<head>
    
    <%- include("../partials/head") %> 
</head>

 



    <header class="main-header">

        <%- include("../partials/header") %> 
       
    </header>


    <br />
    <h3>Lista</h3>
    
    
    <div >

        <% for(let i=0; i< resultado.length; i++) { %> 
            
            <br />
          
           

                    
        <ul><a href="detalle/<%=i %>">  Usuario:<%= resultado[i].usuario %>   </a> </ul>
        <ul></ul>Nacimiento: <%= resultado[i].nacimiento %></ul>
        <ul></ul>Id: <%= resultado[i].id %>  </ul>  
        <ul></ul>Email: <%= resultado[i].email %>  </ul>  
        <ul></ul>Domicilio: <%= resultado[i].domicilio %>  </ul>  

        <br />
                    
                    
                <% } %>
    
            
          
        
     
    </div>

    <br /><br />

    <footer class="main-footer">

        <%- include("../partials/footer") %> 
    </footer>

    </body>