<head>
    
  <%- include("../partials/head_reg") %> 
  <%- include("../partials/head") %> 
</head>



<head>
    
  <%- include("../partials/header") %> 
</head>
    
    
    <div class="Register">
      <br />
      <% if (typeof errors != "undefined" ) {%>
        <p style="color:red" > ERROR </p>
        <ul>
          <% for (let i =0; i < errors.length; i++) {%>
            <li>
              <%= errors[i].msg %>

            </li>

            <%}%>
            <br />
        </ul>


        <%}%>
        
            <form action="/users/login" method="POST">
              <p class="login_Register_text">¿TENÉS UNA CUENTA?</p>
              <br />
              <p>Usuario Actual :  <% if (usuarioActual) { %> <%= usuarioActual.usuario %><% } %> </p>
              <br />

              <p>
                <label for="usuario"></label>
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
              </p>
              <p>
                <label for="pass"></label>
                <input type="password" name="pass" id="pass" placeholder="Contraseña">
              </p>
              <br />
              <label for="pass">Recordame </label>
              <input type="checkbox" name="recordame" id="recordame" placeholder="Recordame">
              <br />

            <p>
              <button type="submit" class="button_ingresar"> Ingresar </button>
            </p>
            <br />
          </form>
             
    </div>

    <footer class="main-footer">

      <%- include("../partials/footer") %> 
    </footer>
  