  
  <head>
    <%- include("../partials/head") %> 
    <%- include("../partials/head_reg") %> 
  </head>
  <header>
    
    <%- include("../partials/header") %> 
  </header>


  <div class="login_Register">
    <div class="Login">
      <br />
      <% if (typeof errors != "undefined" ) {%>
        <p style="color:red" > ERROR </p>
        <ul>
          <% for (let i =0; i < errors.length; i++) {%>
            <li>
              <%= errors[i].msg %>

            </li>

            <%}%>
            <br />
        </ul>


        <%}%>
      <form action="/users" method="POST" enctype="multipart/form-data">
        <p class="login_Register_text">CREÁ TU CUENTA Y COMPRÁ DESDE DONDE ESTÉS</p>

        
        <p>
          <label for="usuario"></label>
          <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
          
        </p>
        <p>
          <label for="nombre"></label>
          <input type="email" name="email" id="email" placeholder="Correo electrónico">
        </p>

        <p>
          <label for="nacimiento">
            <p>Fecha de nacimiento:</p>
          </label>
          <input type="date" name="nacimiento" id="date">
        </p>
        <p>
          <label for="domicilio"></label>
          <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
        </p>

        <p>
          <label for="pass"></label>
          <input type="password" name="pass" id="pass" placeholder="Contraseña">
        </p>

        <p>
          <label for="passC"></label>
          <input type="password" name="passC" id="passC" placeholder="Repetir contraseña">
        </p>

        <p>
          <label for="avatar-img"></label>
          <input type="file" name="avatar-img" id="avatar-img"  placeholder="Subir imagen ">
        </p>

        <% if (locals.usuarioActual) {%>
          <% if (locals.usuarioActual.group=="admin") { %>
              
            <div class="col-12 col-md-6">
              <label for="group" class="form-label">Categoría:</label>
              <select name="group" id="group" class="form-input">
                <option value="usuario">Usuario</option>
                <option value="admin">admin</option>
                <option value="supervisor">Supervisor</option>
                <option value="guest">invitado</option>
              </select>
            </div>
          
      
      <%} else {%>
        <div class="col-12 col-md-6">
          <label for="group" class="form-label">Categoría:</label>
          <select name="group" id="group" class="form-input">
            <option value="usuario">Usuario</option>
            
          </select>
        </div>
        <%}%>
  <%}%>
        
        <p class="button_registro">
          <button type="submit" class="button_registro_"> Enviar </button>
          <button type="reset" class="button_registro_"> Cancelar </button>
        </p>

      </form>
    </div>
  </div>
      <footer class="main-footer">

        <%- include("../partials/footer") %> 
      </footer>
    
 

    
