
<!DOCTYPE html>
<html>

<head>
    
    <%- include("../partials/head") %> 
</head>

 



    <header class="main-header">

        <%- include("../partials/header") %> 
       
    </header>
    <body>
    <br />
    <h3>Detalle del Usuario</h3>
    <div class="secctionGeneral_bloque">
    <br />
    
    <div class="secctionGeneral_div_bloque">
                    
                    
                    <br />
                    <br />
                
                    Usuario: <%= usuariodetalle.usuario %> 
                        <br />
                    E-mail : <%= usuariodetalle.email %> 
                    <br />
                    Domicilio: <%= usuariodetalle.domicilio %>
                    <br />
                    Nacimiento: <%= usuariodetalle.nacimiento %>
                    <br />
                    <br />

                    <img class="imagen" src="/images/users/<%= usuariodetalle.image %>" alt="user Avatar" >
                    
                    <br />
                    <br />
                    <br />
                    
                    <br />
                    <br />
           
          
                </div>    
     
    
</div>

</body>

    <footer class="main-footer">

        <%- include("../partials/footer") %> 
    </footer>

   